

body{
    background-color: #f3f3f4;
    margin: 0;
}

.title{
    text-align: center;
}

.title h1{
    font-size: 40px;
}

.title h2{
    font-size: 30px;
}

.video{
    width: 400px;
}

.video2{
    width: 800px;
    height: 400px;
}

.video3{
    width: 800px;
    height: 400px;
}

.piano{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.show{
    background-color: #f3f3f4;
    margin-left: 4rem;
}


.artist{
    width: 600px;
    margin: 0;
}

.artist h3{
    text-align: center;
    font-size: 30px;
}

.artist p{
    text-align: center;
    font-size: 19px;
}

.artist img{
    align-items: center;
    width: 400px;
    padding: 1.5rem;
    margin: auto;
    display: block;
}

.album{
    background-color: #f3f3f4;
    margin-right: 4rem;
}

.song{
    width: 600px;
    margin: 0;
}

.song h3{
    text-align: center;
    font-size: 30px;
}

.song p{
    text-align: center;
    font-size: 19px;
}

.song img{
    align-items: center;
    width: 325px;
    padding: 1.5rem;
    margin: auto;
    display: block;
}

.notes{
    background-color: #303031;
    margin-left: 4rem;
}

.notes img{
    width: 500px;
}

.oficial{
    width: 600px;
    margin: 1rem;
}


.hide{
    display: none;
}

#you{
    display: none;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.mplayer{
    border: none;
    text-align: center;
    margin-top: 1.5rem;
    letter-spacing: 10px;
    
}

button{
    color: #fff;
    border: none;
    font-size: 20px;
    width: 65px;
    height: 50px;
    border-radius: 5px;
}

button:hover,
button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em ;
  transform: translateY(-0.15em);
}

#play{
    background-color: #828f98;
}

#pause{
    background-color: #5c636b;
}

#stop{
    background-color: #405158;
}

#mute{
    background-color: #203641;
}

#unmute{
    background-color: #1a2c36;
}